# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo
*.egg-info/
.eggs/
.tox/
.coverage
htmlcov/
.pytest_cache/

# Ambientes Virtuais
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# Variáveis de Ambiente e Segredos
.env
.env.*
!.env.example
secrets.json

# Sistema Operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs / Editores de Código
.idea/
.vscode/
*.swp
*.swo
*~

# Ferramentas diversas e Front-end (caso exista node_modules no django tailwind)
node_modules/
.python-version
.prettierignore